{% set page = 'home' %}

{% set title = 'Home' %}
{% set description = '' %}

{% extends './layouts/layout.njk' %}

{% block content %}

  <div class="wrapper">
    <div class="page">
      {% include '~components/hero.njk' %}
    </div>
  </div>

{% endblock %}